@charset "utf-8";
/* CSS Document */
.inicio{
	background-image:url(Im%C3%A1genes/nature.jpg);
}

.anuncio{
	text-align: center;
	margin-top: 15%;
	margin-right: 15%;
	margin-left: 15%;
	font-family: calibri;
	font-size: 36px;
	color: #333;
	font-weight: bolder;
}

.navbar {
	grid-area: navbar;
	background-color: #000000;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat Alternates', sans-serif;
	text-align: center;
}

.navbar a{
	display: inline-block;
	padding: 15px;
	line-height: normal;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	font-size: 15px;
	margin-right: 5px;	
}

.navbar a:hover{
	padding-bottom: 5px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #FFFF00;
	}
	
table {
	text-align: center;
	font-family: 'calibri';
	font-size: 18px;	
}

td img{
	width: 65%;
	height: auto;
}

.precio{
	font-size: 24px;
	color: #F30;
	font-weight: bolder;
}

.nd{
	background-color: #CCC;
}

.gif{
	width: 25%;
}

/*TABLA*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-register {
	width: 400px;
	padding: 30px;
	margin: auto;
	margin-top: 25px;
	border-radius: 4px;
	font-family: 'calibri';
	color: white;
	box-shadow: 7px 13px 37px #000;
	background-color: #000000;
}

.form-register h4 {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.controls {
	width: 100%;
	background: #24303c;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid #FFCC00;
	font-size: 18px;
	color: white;
	font-family: 'calibri';
}

.form-register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form-register a {
  color: white;
  text-decoration: none;
}

.form-register a:hover {
  color: white;
  text-decoration: underline;
}

.form-register .botons {
	width: 100%;
	border: none;
	padding: 12px;
	color: #000;
	margin: 16px 0;
	font-size: 18px;
	background-color: #FFCC00;
	font-family: calibri;
}